<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard_style.css')}}">
    <title>Home</title>
</head>
<body>
    <div class = "header_section">
        <nav>
            <label for="username">Hello {{ session['user_name'].capitalize() }}</label>
            <ul>
                <li><a href="{{ url_for('user_dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('about_us_controller') }}">About</a></li>
                <li><a href="{{ url_for('contact_us_controller') }}">Contact Us</a></li>
                <li><a href="{{ url_for('logout_controller') }}">Log Out</a></li>
            </ul>
        </nav>
    </div>
    <div class="center">
        <h1>Dashboard</h1>
            <a href="{{ url_for('user_view_details', user_id = session['u_id'])}}">View your details</a>
            <table>
                {% for user in user_details %}
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <td>{{ user['name'] }}</td>
                    <td>{{ user['email'] }}</td>
                    <td>{{ user['phone'] }}</td>
                </tr>
            {% endfor %}
            </table>
        <p>User update controller</p>
        <p>User update controller</p>
        <p>User update controller</p>
    </div>
</body>
</html>