<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dashboard_style.css')}}">
    <title>Home</title>
</head>
<body>
    <div class = "header_section">
        <nav>
            <label for="username">Hello {{ session['user_name'].capitalize() }}</label>
            <ul>
                <li><a href="{{ url_for('user_dashboard') }}">Home</a></li>
                <li><a href="{{ url_for('about_us_controller') }}">About</a></li>
                <li><a href="{{ url_for('contact_us_controller') }}">Contact Us</a></li>
                <li><a href="{{ url_for('logout_controller') }}">Log Out</a></li>
            </ul>
        </nav>
    </div>
    <div class="center">
        <h1>Dashboard</h1>
            <a href="{{ url_for('user_view_details', user_id = session['u_id'])}}">View your details</a>
            <form action="{{ url_for('user_patch_controller', id = session['u_id']) }}" method="POST" id = "userDetailsForm">
                {% for user in user_details %}
                <table>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="name" value="{{ user['name'] }}" class="txt_field" disabled></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="email" name="email" value="{{ user['email'] }}" disabled></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><input type="text" name="phone" value="{{ user['phone'] }}" disabled></td>
                    </tr>
                </table>
                <button type="button" onclick="enableEdit()">Edit</button>
                <button type="submit" id="saveButton" disabled>Save</button>
                {% endfor %}
            </form>
            <script>
                function enableEdit() {
                    document.querySelectorAll('input[name="name"], input[name="email"], input[name="phone"]').forEach(input => {
                        input.removeAttribute('disabled');
                    });
                    document.getElementById('saveButton').removeAttribute('disabled');
                }
            </script>
            
        <p>User update controller</p>
        <p>User update controller</p>
    </div>
</body>
</html>