<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/signup_style.css')}}">
</head>
<body>
    <div class="center">
        <h1>Register</h1>
        <form id = "registrationform" action = "{{ url_for('user_addone_controller')}}" method="POST">
            <div class="txt_field">
                <input type="text" name="name" id="name" required>
                <span></span>
                <label for="name">Name</label>
            </div>
            <div class="txt_field">
                <input type="text" name="email" id="email" required>
                <span></span>
                <label for="email">Email</label>
            </div>
            <div class="txt_field">
                <input type="text" name="phone" id="phone" required>
                <span></span>
                <label for="phone">Phone</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <span></span>
                <label for="password">Password</label>
            </div>
            <input type="submit" value="Submit" class="submit_button">
        </form>
    </div>
</body>
</html>